@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.main-heading {
  color: lightgreen;
  font-weight: 700;
  font-size: 50px;
}

.note-form form {
  background-color: rgb(41, 36, 36);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.note-form form div {
  display: flex;
  flex-direction: column;
  background: transparent;
  margin: 5px 10px;
  align-items: center;
}

.note-form form div input,
textarea,
button {
  font-size: 20px;
  width: 70%;
  margin: 5px auto;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.note-heading {
  background-color: transparent;
  color: lightgreen;
}

.note-list {
  height: 400px;
  background-color: rgb(51, 49, 49);
  overflow: scroll;
  width: 50%;
}

.note-list h1 {
  color: lightgreen;
}

.note-list h1,
div {
  background: transparent;
}

.note-list {
  padding: 10px;
}

/* width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #000;
  margin: 10px;
  padding: 10px;
  border-radius: 20px; */
.note-list-items {
  border: 4px solid white;
  margin: 15px 5px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.note-list-items button {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.button-div {
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252424;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.note-span {
  font-size: 18px;
  font-weight: 700;
  color: lightgreen;
}

@media screen and (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
  .note-form {
    margin: auto;
    width: 80%;
  }
  .note-list {
    margin: auto;
    width: 80%;
  }
}
